<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ae-ar</key>
    <string>ae-ar.glif</string>
    <key>ain-ar</key>
    <string>ain-ar.glif</string>
    <key>ain-ar.fina</key>
    <string>ain-ar.fina.glif</string>
    <key>ain-ar.init</key>
    <string>ain-ar.init.glif</string>
    <key>ain-ar.init.ain</key>
    <string>ain-ar.init.ain.glif</string>
    <key>ain-ar.init.dal</key>
    <string>ain-ar.init.dal.glif</string>
    <key>ain-ar.init.feh</key>
    <string>ain-ar.init.feh.glif</string>
    <key>ain-ar.init.hah</key>
    <string>ain-ar.init.hah.glif</string>
    <key>ain-ar.init.heh</key>
    <string>ain-ar.init.heh.glif</string>
    <key>ain-ar.init.meem</key>
    <string>ain-ar.init.meem.glif</string>
    <key>ain-ar.init.ragaa</key>
    <string>ain-ar.init.ragaa.glif</string>
    <key>ain-ar.init.reh</key>
    <string>ain-ar.init.reh.glif</string>
    <key>ain-ar.init.sad</key>
    <string>ain-ar.init.sad.glif</string>
    <key>ain-ar.init.yeh</key>
    <string>ain-ar.init.yeh.glif</string>
    <key>ain-ar.medi</key>
    <string>ain-ar.medi.glif</string>
    <key>ain-ar.medi.ain</key>
    <string>ain-ar.medi.ain.glif</string>
    <key>ain-ar.medi.dal</key>
    <string>ain-ar.medi.dal.glif</string>
    <key>ain-ar.medi.feh</key>
    <string>ain-ar.medi.feh.glif</string>
    <key>ain-ar.medi.hah</key>
    <string>ain-ar.medi.hah.glif</string>
    <key>ain-ar.medi.heh</key>
    <string>ain-ar.medi.heh.glif</string>
    <key>ain-ar.medi.meem</key>
    <string>ain-ar.medi.meem.glif</string>
    <key>ain-ar.medi.ragaa</key>
    <string>ain-ar.medi.ragaa.glif</string>
    <key>ain-ar.medi.reh</key>
    <string>ain-ar.medi.reh.glif</string>
    <key>ain-ar.medi.sad</key>
    <string>ain-ar.medi.sad.glif</string>
    <key>ain-ar.medi.yeh</key>
    <string>ain-ar.medi.yeh.glif</string>
    <key>ainThreedots-ar</key>
    <string>ainT_hreedots-ar.glif</string>
    <key>alef-ar</key>
    <string>alef-ar.glif</string>
    <key>alef-ar.fina</key>
    <string>alef-ar.fina.glif</string>
    <key>alef-ar.fina.lam</key>
    <string>alef-ar.fina.lam.glif</string>
    <key>alefHamzaabove-ar</key>
    <string>alefH_amzaabove-ar.glif</string>
    <key>alefHamzabelow-ar</key>
    <string>alefH_amzabelow-ar.glif</string>
    <key>alefMadda-ar</key>
    <string>alefM_adda-ar.glif</string>
    <key>alefMaksura-ar</key>
    <string>alefM_aksura-ar.glif</string>
    <key>alefMaksura-ar.fina</key>
    <string>alefM_aksura-ar.fina.glif</string>
    <key>alefMaksura-ar.fina.jalt</key>
    <string>alefM_aksura-ar.fina.jalt.glif</string>
    <key>alefMaksura-ar.fina.yeh</key>
    <string>alefM_aksura-ar.fina.yeh.glif</string>
    <key>alefMaksura-ar.fina.yeh.jalt</key>
    <string>alefM_aksura-ar.fina.yeh.jalt.glif</string>
    <key>alefMaksura-ar.jalt</key>
    <string>alefM_aksura-ar.jalt.glif</string>
    <key>alefWasla-ar</key>
    <string>alefW_asla-ar.glif</string>
    <key>alefabove-ar</key>
    <string>alefabove-ar.glif</string>
    <key>alefabove-ar.isol</key>
    <string>alefabove-ar.isol.glif</string>
    <key>alefabove-ar.medi</key>
    <string>alefabove-ar.medi.glif</string>
    <key>alefbelow-ar</key>
    <string>alefbelow-ar.glif</string>
    <key>beh-ar</key>
    <string>beh-ar.glif</string>
    <key>behDotless-ar</key>
    <string>behD_otless-ar.glif</string>
    <key>behDotless-ar.fina</key>
    <string>behD_otless-ar.fina.glif</string>
    <key>behDotless-ar.fina.jalt</key>
    <string>behD_otless-ar.fina.jalt.glif</string>
    <key>behDotless-ar.init</key>
    <string>behD_otless-ar.init.glif</string>
    <key>behDotless-ar.init.ain</key>
    <string>behD_otless-ar.init.ain.glif</string>
    <key>behDotless-ar.init.ascend</key>
    <string>behD_otless-ar.init.ascend.glif</string>
    <key>behDotless-ar.init.dal</key>
    <string>behD_otless-ar.init.dal.glif</string>
    <key>behDotless-ar.init.feh</key>
    <string>behD_otless-ar.init.feh.glif</string>
    <key>behDotless-ar.init.hah</key>
    <string>behD_otless-ar.init.hah.glif</string>
    <key>behDotless-ar.init.heh</key>
    <string>behD_otless-ar.init.heh.glif</string>
    <key>behDotless-ar.init.meem</key>
    <string>behD_otless-ar.init.meem.glif</string>
    <key>behDotless-ar.init.ragaa</key>
    <string>behD_otless-ar.init.ragaa.glif</string>
    <key>behDotless-ar.init.reh</key>
    <string>behD_otless-ar.init.reh.glif</string>
    <key>behDotless-ar.init.sad</key>
    <string>behD_otless-ar.init.sad.glif</string>
    <key>behDotless-ar.init.yeh</key>
    <string>behD_otless-ar.init.yeh.glif</string>
    <key>behDotless-ar.jalt</key>
    <string>behD_otless-ar.jalt.glif</string>
    <key>behDotless-ar.medi</key>
    <string>behD_otless-ar.medi.glif</string>
    <key>behDotless-ar.medi.ain</key>
    <string>behD_otless-ar.medi.ain.glif</string>
    <key>behDotless-ar.medi.dal</key>
    <string>behD_otless-ar.medi.dal.glif</string>
    <key>behDotless-ar.medi.feh</key>
    <string>behD_otless-ar.medi.feh.glif</string>
    <key>behDotless-ar.medi.hah</key>
    <string>behD_otless-ar.medi.hah.glif</string>
    <key>behDotless-ar.medi.heh</key>
    <string>behD_otless-ar.medi.heh.glif</string>
    <key>behDotless-ar.medi.high</key>
    <string>behD_otless-ar.medi.high.glif</string>
    <key>behDotless-ar.medi.high2</key>
    <string>behD_otless-ar.medi.high2.glif</string>
    <key>behDotless-ar.medi.meem</key>
    <string>behD_otless-ar.medi.meem.glif</string>
    <key>behDotless-ar.medi.noon</key>
    <string>behD_otless-ar.medi.noon.glif</string>
    <key>behDotless-ar.medi.ragaa</key>
    <string>behD_otless-ar.medi.ragaa.glif</string>
    <key>behDotless-ar.medi.reh</key>
    <string>behD_otless-ar.medi.reh.glif</string>
    <key>behDotless-ar.medi.sad</key>
    <string>behD_otless-ar.medi.sad.glif</string>
    <key>behDotless-ar.medi.yeh</key>
    <string>behD_otless-ar.medi.yeh.glif</string>
    <key>comma-ar</key>
    <string>comma-ar.glif</string>
    <key>comma-ar.alt</key>
    <string>comma-ar.alt.glif</string>
    <key>dad-ar</key>
    <string>dad-ar.glif</string>
    <key>dal-ar</key>
    <string>dal-ar.glif</string>
    <key>dal-ar.fina</key>
    <string>dal-ar.fina.glif</string>
    <key>damma-ar</key>
    <string>damma-ar.glif</string>
    <key>dammainverted-ar</key>
    <string>dammainverted-ar.glif</string>
    <key>dammainverted-ar.urd</key>
    <string>dammainverted-ar.urd.glif</string>
    <key>dammatan-ar</key>
    <string>dammatan-ar.glif</string>
    <key>ddal-ar</key>
    <string>ddal-ar.glif</string>
    <key>dotabove-ar</key>
    <string>dotabove-ar.glif</string>
    <key>dotbelow-ar</key>
    <string>dotbelow-ar.glif</string>
    <key>dul-ar</key>
    <string>dul-ar.glif</string>
    <key>eight-ar</key>
    <string>eight-ar.glif</string>
    <key>eight-ar.dnom</key>
    <string>eight-ar.dnom.glif</string>
    <key>eight-ar.numr</key>
    <string>eight-ar.numr.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>fatha-ar</key>
    <string>fatha-ar.glif</string>
    <key>fathatan-ar</key>
    <string>fathatan-ar.glif</string>
    <key>feh-ar</key>
    <string>feh-ar.glif</string>
    <key>fehDotless-ar</key>
    <string>fehD_otless-ar.glif</string>
    <key>fehDotless-ar.fina</key>
    <string>fehD_otless-ar.fina.glif</string>
    <key>fehDotless-ar.fina.jalt</key>
    <string>fehD_otless-ar.fina.jalt.glif</string>
    <key>fehDotless-ar.init</key>
    <string>fehD_otless-ar.init.glif</string>
    <key>fehDotless-ar.init.ain</key>
    <string>fehD_otless-ar.init.ain.glif</string>
    <key>fehDotless-ar.init.dal</key>
    <string>fehD_otless-ar.init.dal.glif</string>
    <key>fehDotless-ar.init.feh</key>
    <string>fehD_otless-ar.init.feh.glif</string>
    <key>fehDotless-ar.init.hah</key>
    <string>fehD_otless-ar.init.hah.glif</string>
    <key>fehDotless-ar.init.heh</key>
    <string>fehD_otless-ar.init.heh.glif</string>
    <key>fehDotless-ar.init.meem</key>
    <string>fehD_otless-ar.init.meem.glif</string>
    <key>fehDotless-ar.init.ragaa</key>
    <string>fehD_otless-ar.init.ragaa.glif</string>
    <key>fehDotless-ar.init.reh</key>
    <string>fehD_otless-ar.init.reh.glif</string>
    <key>fehDotless-ar.init.sad</key>
    <string>fehD_otless-ar.init.sad.glif</string>
    <key>fehDotless-ar.init.yeh</key>
    <string>fehD_otless-ar.init.yeh.glif</string>
    <key>fehDotless-ar.jalt</key>
    <string>fehD_otless-ar.jalt.glif</string>
    <key>fehDotless-ar.medi</key>
    <string>fehD_otless-ar.medi.glif</string>
    <key>fehDotless-ar.medi.ain</key>
    <string>fehD_otless-ar.medi.ain.glif</string>
    <key>fehDotless-ar.medi.dal</key>
    <string>fehD_otless-ar.medi.dal.glif</string>
    <key>fehDotless-ar.medi.feh</key>
    <string>fehD_otless-ar.medi.feh.glif</string>
    <key>fehDotless-ar.medi.hah</key>
    <string>fehD_otless-ar.medi.hah.glif</string>
    <key>fehDotless-ar.medi.heh</key>
    <string>fehD_otless-ar.medi.heh.glif</string>
    <key>fehDotless-ar.medi.meem</key>
    <string>fehD_otless-ar.medi.meem.glif</string>
    <key>fehDotless-ar.medi.ragaa</key>
    <string>fehD_otless-ar.medi.ragaa.glif</string>
    <key>fehDotless-ar.medi.reh</key>
    <string>fehD_otless-ar.medi.reh.glif</string>
    <key>fehDotless-ar.medi.sad</key>
    <string>fehD_otless-ar.medi.sad.glif</string>
    <key>fehDotless-ar.medi.yeh</key>
    <string>fehD_otless-ar.medi.yeh.glif</string>
    <key>five-ar</key>
    <string>five-ar.glif</string>
    <key>five-ar.dnom</key>
    <string>five-ar.dnom.glif</string>
    <key>five-ar.numr</key>
    <string>five-ar.numr.glif</string>
    <key>five-persian</key>
    <string>five-persian.glif</string>
    <key>five-persian.dnom</key>
    <string>five-persian.dnom.glif</string>
    <key>five-persian.numr</key>
    <string>five-persian.numr.glif</string>
    <key>four-ar</key>
    <string>four-ar.glif</string>
    <key>four-ar.dnom</key>
    <string>four-ar.dnom.glif</string>
    <key>four-ar.numr</key>
    <string>four-ar.numr.glif</string>
    <key>four-persian</key>
    <string>four-persian.glif</string>
    <key>four-persian.dnom</key>
    <string>four-persian.dnom.glif</string>
    <key>four-persian.numr</key>
    <string>four-persian.numr.glif</string>
    <key>four-persian.urd</key>
    <string>four-persian.urd.glif</string>
    <key>four-persian.urd.dnom</key>
    <string>four-persian.urd.dnom.glif</string>
    <key>four-persian.urd.numr</key>
    <string>four-persian.urd.numr.glif</string>
    <key>fullstop-ar</key>
    <string>fullstop-ar.glif</string>
    <key>gaf-ar</key>
    <string>gaf-ar.glif</string>
    <key>gafsarkashabove-ar</key>
    <string>gafsarkashabove-ar.glif</string>
    <key>ghain-ar</key>
    <string>ghain-ar.glif</string>
    <key>hah-ar</key>
    <string>hah-ar.glif</string>
    <key>hah-ar.fina</key>
    <string>hah-ar.fina.glif</string>
    <key>hah-ar.init</key>
    <string>hah-ar.init.glif</string>
    <key>hah-ar.init.ain</key>
    <string>hah-ar.init.ain.glif</string>
    <key>hah-ar.init.dal</key>
    <string>hah-ar.init.dal.glif</string>
    <key>hah-ar.init.feh</key>
    <string>hah-ar.init.feh.glif</string>
    <key>hah-ar.init.hah</key>
    <string>hah-ar.init.hah.glif</string>
    <key>hah-ar.init.heh</key>
    <string>hah-ar.init.heh.glif</string>
    <key>hah-ar.init.heh.ragaa</key>
    <string>hah-ar.init.heh.ragaa.glif</string>
    <key>hah-ar.init.meem</key>
    <string>hah-ar.init.meem.glif</string>
    <key>hah-ar.init.ragaa</key>
    <string>hah-ar.init.ragaa.glif</string>
    <key>hah-ar.init.reh</key>
    <string>hah-ar.init.reh.glif</string>
    <key>hah-ar.init.sad</key>
    <string>hah-ar.init.sad.glif</string>
    <key>hah-ar.init.yeh</key>
    <string>hah-ar.init.yeh.glif</string>
    <key>hah-ar.medi</key>
    <string>hah-ar.medi.glif</string>
    <key>hah-ar.medi.ain</key>
    <string>hah-ar.medi.ain.glif</string>
    <key>hah-ar.medi.dal</key>
    <string>hah-ar.medi.dal.glif</string>
    <key>hah-ar.medi.feh</key>
    <string>hah-ar.medi.feh.glif</string>
    <key>hah-ar.medi.hah</key>
    <string>hah-ar.medi.hah.glif</string>
    <key>hah-ar.medi.heh</key>
    <string>hah-ar.medi.heh.glif</string>
    <key>hah-ar.medi.heh.ragaa</key>
    <string>hah-ar.medi.heh.ragaa.glif</string>
    <key>hah-ar.medi.meem</key>
    <string>hah-ar.medi.meem.glif</string>
    <key>hah-ar.medi.ragaa</key>
    <string>hah-ar.medi.ragaa.glif</string>
    <key>hah-ar.medi.reh</key>
    <string>hah-ar.medi.reh.glif</string>
    <key>hah-ar.medi.sad</key>
    <string>hah-ar.medi.sad.glif</string>
    <key>hah-ar.medi.yeh</key>
    <string>hah-ar.medi.yeh.glif</string>
    <key>hamza-ar</key>
    <string>hamza-ar.glif</string>
    <key>hamzaabove-ar</key>
    <string>hamzaabove-ar.glif</string>
    <key>hamzabelow-ar</key>
    <string>hamzabelow-ar.glif</string>
    <key>heh-ar</key>
    <string>heh-ar.glif</string>
    <key>heh-ar.fina</key>
    <string>heh-ar.fina.glif</string>
    <key>heh-ar.init</key>
    <string>heh-ar.init.glif</string>
    <key>heh-ar.init.ain</key>
    <string>heh-ar.init.ain.glif</string>
    <key>heh-ar.init.dal</key>
    <string>heh-ar.init.dal.glif</string>
    <key>heh-ar.init.feh</key>
    <string>heh-ar.init.feh.glif</string>
    <key>heh-ar.init.hah</key>
    <string>heh-ar.init.hah.glif</string>
    <key>heh-ar.init.heh</key>
    <string>heh-ar.init.heh.glif</string>
    <key>heh-ar.init.meem</key>
    <string>heh-ar.init.meem.glif</string>
    <key>heh-ar.init.ragaa</key>
    <string>heh-ar.init.ragaa.glif</string>
    <key>heh-ar.init.reh</key>
    <string>heh-ar.init.reh.glif</string>
    <key>heh-ar.init.sad</key>
    <string>heh-ar.init.sad.glif</string>
    <key>heh-ar.init.yeh</key>
    <string>heh-ar.init.yeh.glif</string>
    <key>heh-ar.medi</key>
    <string>heh-ar.medi.glif</string>
    <key>heh-ar.medi.ain</key>
    <string>heh-ar.medi.ain.glif</string>
    <key>heh-ar.medi.dal</key>
    <string>heh-ar.medi.dal.glif</string>
    <key>heh-ar.medi.feh</key>
    <string>heh-ar.medi.feh.glif</string>
    <key>heh-ar.medi.hah</key>
    <string>heh-ar.medi.hah.glif</string>
    <key>heh-ar.medi.heh</key>
    <string>heh-ar.medi.heh.glif</string>
    <key>heh-ar.medi.meem</key>
    <string>heh-ar.medi.meem.glif</string>
    <key>heh-ar.medi.ragaa</key>
    <string>heh-ar.medi.ragaa.glif</string>
    <key>heh-ar.medi.reh</key>
    <string>heh-ar.medi.reh.glif</string>
    <key>heh-ar.medi.sad</key>
    <string>heh-ar.medi.sad.glif</string>
    <key>heh-ar.medi.yeh</key>
    <string>heh-ar.medi.yeh.glif</string>
    <key>hehDoachashmee-ar</key>
    <string>hehD_oachashmee-ar.glif</string>
    <key>hehDoachashmee-ar.fina</key>
    <string>hehD_oachashmee-ar.fina.glif</string>
    <key>hehDoachashmee-ar.medi</key>
    <string>hehD_oachashmee-ar.medi.glif</string>
    <key>hehDoachashmee-ar.medi.ain</key>
    <string>hehD_oachashmee-ar.medi.ain.glif</string>
    <key>hehDoachashmee-ar.medi.dal</key>
    <string>hehD_oachashmee-ar.medi.dal.glif</string>
    <key>hehDoachashmee-ar.medi.feh</key>
    <string>hehD_oachashmee-ar.medi.feh.glif</string>
    <key>hehDoachashmee-ar.medi.hah</key>
    <string>hehD_oachashmee-ar.medi.hah.glif</string>
    <key>hehDoachashmee-ar.medi.heh</key>
    <string>hehD_oachashmee-ar.medi.heh.glif</string>
    <key>hehDoachashmee-ar.medi.meem</key>
    <string>hehD_oachashmee-ar.medi.meem.glif</string>
    <key>hehDoachashmee-ar.medi.ragaa</key>
    <string>hehD_oachashmee-ar.medi.ragaa.glif</string>
    <key>hehDoachashmee-ar.medi.reh</key>
    <string>hehD_oachashmee-ar.medi.reh.glif</string>
    <key>hehDoachashmee-ar.medi.sad</key>
    <string>hehD_oachashmee-ar.medi.sad.glif</string>
    <key>hehDoachashmee-ar.medi.yeh</key>
    <string>hehD_oachashmee-ar.medi.yeh.glif</string>
    <key>hehHamzaabove-ar</key>
    <string>hehH_amzaabove-ar.glif</string>
    <key>hehgoal-ar</key>
    <string>hehgoal-ar.glif</string>
    <key>hehgoal-ar.fina</key>
    <string>hehgoal-ar.fina.glif</string>
    <key>hehgoal-ar.init</key>
    <string>hehgoal-ar.init.glif</string>
    <key>hehgoal-ar.init.ain</key>
    <string>hehgoal-ar.init.ain.glif</string>
    <key>hehgoal-ar.init.dal</key>
    <string>hehgoal-ar.init.dal.glif</string>
    <key>hehgoal-ar.init.feh</key>
    <string>hehgoal-ar.init.feh.glif</string>
    <key>hehgoal-ar.init.hah</key>
    <string>hehgoal-ar.init.hah.glif</string>
    <key>hehgoal-ar.init.heh</key>
    <string>hehgoal-ar.init.heh.glif</string>
    <key>hehgoal-ar.init.meem</key>
    <string>hehgoal-ar.init.meem.glif</string>
    <key>hehgoal-ar.init.ragaa</key>
    <string>hehgoal-ar.init.ragaa.glif</string>
    <key>hehgoal-ar.init.reh</key>
    <string>hehgoal-ar.init.reh.glif</string>
    <key>hehgoal-ar.init.sad</key>
    <string>hehgoal-ar.init.sad.glif</string>
    <key>hehgoal-ar.init.yeh</key>
    <string>hehgoal-ar.init.yeh.glif</string>
    <key>highhamza-ar</key>
    <string>highhamza-ar.glif</string>
    <key>jeem-ar</key>
    <string>jeem-ar.glif</string>
    <key>jeh-ar</key>
    <string>jeh-ar.glif</string>
    <key>kaf-ar</key>
    <string>kaf-ar.glif</string>
    <key>kaf-ar.fina</key>
    <string>kaf-ar.fina.glif</string>
    <key>kaf-ar.fina.jalt</key>
    <string>kaf-ar.fina.jalt.glif</string>
    <key>kaf-ar.init</key>
    <string>kaf-ar.init.glif</string>
    <key>kaf-ar.init.ain</key>
    <string>kaf-ar.init.ain.glif</string>
    <key>kaf-ar.init.alef</key>
    <string>kaf-ar.init.alef.glif</string>
    <key>kaf-ar.init.alef.loop</key>
    <string>kaf-ar.init.alef.loop.glif</string>
    <key>kaf-ar.init.dal</key>
    <string>kaf-ar.init.dal.glif</string>
    <key>kaf-ar.init.feh</key>
    <string>kaf-ar.init.feh.glif</string>
    <key>kaf-ar.init.hah</key>
    <string>kaf-ar.init.hah.glif</string>
    <key>kaf-ar.init.heh</key>
    <string>kaf-ar.init.heh.glif</string>
    <key>kaf-ar.init.meem</key>
    <string>kaf-ar.init.meem.glif</string>
    <key>kaf-ar.init.ragaa</key>
    <string>kaf-ar.init.ragaa.glif</string>
    <key>kaf-ar.init.reh</key>
    <string>kaf-ar.init.reh.glif</string>
    <key>kaf-ar.init.sad</key>
    <string>kaf-ar.init.sad.glif</string>
    <key>kaf-ar.init.yeh</key>
    <string>kaf-ar.init.yeh.glif</string>
    <key>kaf-ar.jalt</key>
    <string>kaf-ar.jalt.glif</string>
    <key>kaf-ar.medi</key>
    <string>kaf-ar.medi.glif</string>
    <key>kaf-ar.medi.ain</key>
    <string>kaf-ar.medi.ain.glif</string>
    <key>kaf-ar.medi.dal</key>
    <string>kaf-ar.medi.dal.glif</string>
    <key>kaf-ar.medi.feh</key>
    <string>kaf-ar.medi.feh.glif</string>
    <key>kaf-ar.medi.hah</key>
    <string>kaf-ar.medi.hah.glif</string>
    <key>kaf-ar.medi.heh</key>
    <string>kaf-ar.medi.heh.glif</string>
    <key>kaf-ar.medi.kaf</key>
    <string>kaf-ar.medi.kaf.glif</string>
    <key>kaf-ar.medi.meem</key>
    <string>kaf-ar.medi.meem.glif</string>
    <key>kaf-ar.medi.ragaa</key>
    <string>kaf-ar.medi.ragaa.glif</string>
    <key>kaf-ar.medi.reh</key>
    <string>kaf-ar.medi.reh.glif</string>
    <key>kaf-ar.medi.sad</key>
    <string>kaf-ar.medi.sad.glif</string>
    <key>kaf-ar.medi.yeh</key>
    <string>kaf-ar.medi.yeh.glif</string>
    <key>kafDotabove-ar</key>
    <string>kafD_otabove-ar.glif</string>
    <key>kashida-ar</key>
    <string>kashida-ar.glif</string>
    <key>kasra-ar</key>
    <string>kasra-ar.glif</string>
    <key>kasratan-ar</key>
    <string>kasratan-ar.glif</string>
    <key>keheh-ar</key>
    <string>keheh-ar.glif</string>
    <key>keheh-ar.fina</key>
    <string>keheh-ar.fina.glif</string>
    <key>keheh-ar.fina.jalt</key>
    <string>keheh-ar.fina.jalt.glif</string>
    <key>keheh-ar.jalt</key>
    <string>keheh-ar.jalt.glif</string>
    <key>kehehDotabove-ar</key>
    <string>kehehD_otabove-ar.glif</string>
    <key>khah-ar</key>
    <string>khah-ar.glif</string>
    <key>lam-ar</key>
    <string>lam-ar.glif</string>
    <key>lam-ar.fina</key>
    <string>lam-ar.fina.glif</string>
    <key>lam-ar.fina.jalt</key>
    <string>lam-ar.fina.jalt.glif</string>
    <key>lam-ar.init</key>
    <string>lam-ar.init.glif</string>
    <key>lam-ar.init.ain</key>
    <string>lam-ar.init.ain.glif</string>
    <key>lam-ar.init.alef</key>
    <string>lam-ar.init.alef.glif</string>
    <key>lam-ar.init.dal</key>
    <string>lam-ar.init.dal.glif</string>
    <key>lam-ar.init.feh</key>
    <string>lam-ar.init.feh.glif</string>
    <key>lam-ar.init.hah</key>
    <string>lam-ar.init.hah.glif</string>
    <key>lam-ar.init.heh</key>
    <string>lam-ar.init.heh.glif</string>
    <key>lam-ar.init.kaf</key>
    <string>lam-ar.init.kaf.glif</string>
    <key>lam-ar.init.meem</key>
    <string>lam-ar.init.meem.glif</string>
    <key>lam-ar.init.ragaa</key>
    <string>lam-ar.init.ragaa.glif</string>
    <key>lam-ar.init.reh</key>
    <string>lam-ar.init.reh.glif</string>
    <key>lam-ar.init.sad</key>
    <string>lam-ar.init.sad.glif</string>
    <key>lam-ar.init.yeh</key>
    <string>lam-ar.init.yeh.glif</string>
    <key>lam-ar.jalt</key>
    <string>lam-ar.jalt.glif</string>
    <key>lam-ar.medi</key>
    <string>lam-ar.medi.glif</string>
    <key>lam-ar.medi.ain</key>
    <string>lam-ar.medi.ain.glif</string>
    <key>lam-ar.medi.alef</key>
    <string>lam-ar.medi.alef.glif</string>
    <key>lam-ar.medi.dal</key>
    <string>lam-ar.medi.dal.glif</string>
    <key>lam-ar.medi.feh</key>
    <string>lam-ar.medi.feh.glif</string>
    <key>lam-ar.medi.hah</key>
    <string>lam-ar.medi.hah.glif</string>
    <key>lam-ar.medi.heh</key>
    <string>lam-ar.medi.heh.glif</string>
    <key>lam-ar.medi.kaf</key>
    <string>lam-ar.medi.kaf.glif</string>
    <key>lam-ar.medi.meem</key>
    <string>lam-ar.medi.meem.glif</string>
    <key>lam-ar.medi.ragaa</key>
    <string>lam-ar.medi.ragaa.glif</string>
    <key>lam-ar.medi.reh</key>
    <string>lam-ar.medi.reh.glif</string>
    <key>lam-ar.medi.sad</key>
    <string>lam-ar.medi.sad.glif</string>
    <key>lam-ar.medi.yeh</key>
    <string>lam-ar.medi.yeh.glif</string>
    <key>lamVabove-ar</key>
    <string>lamV_above-ar.glif</string>
    <key>madda-ar</key>
    <string>madda-ar.glif</string>
    <key>meem-ar</key>
    <string>meem-ar.glif</string>
    <key>meem-ar.fina</key>
    <string>meem-ar.fina.glif</string>
    <key>meem-ar.init</key>
    <string>meem-ar.init.glif</string>
    <key>meem-ar.init.ain</key>
    <string>meem-ar.init.ain.glif</string>
    <key>meem-ar.init.dal</key>
    <string>meem-ar.init.dal.glif</string>
    <key>meem-ar.init.feh</key>
    <string>meem-ar.init.feh.glif</string>
    <key>meem-ar.init.hah</key>
    <string>meem-ar.init.hah.glif</string>
    <key>meem-ar.init.heh</key>
    <string>meem-ar.init.heh.glif</string>
    <key>meem-ar.init.meem</key>
    <string>meem-ar.init.meem.glif</string>
    <key>meem-ar.init.ragaa</key>
    <string>meem-ar.init.ragaa.glif</string>
    <key>meem-ar.init.reh</key>
    <string>meem-ar.init.reh.glif</string>
    <key>meem-ar.init.sad</key>
    <string>meem-ar.init.sad.glif</string>
    <key>meem-ar.init.yeh</key>
    <string>meem-ar.init.yeh.glif</string>
    <key>meem-ar.medi</key>
    <string>meem-ar.medi.glif</string>
    <key>meem-ar.medi.ain</key>
    <string>meem-ar.medi.ain.glif</string>
    <key>meem-ar.medi.dal</key>
    <string>meem-ar.medi.dal.glif</string>
    <key>meem-ar.medi.feh</key>
    <string>meem-ar.medi.feh.glif</string>
    <key>meem-ar.medi.hah</key>
    <string>meem-ar.medi.hah.glif</string>
    <key>meem-ar.medi.heh</key>
    <string>meem-ar.medi.heh.glif</string>
    <key>meem-ar.medi.meem</key>
    <string>meem-ar.medi.meem.glif</string>
    <key>meem-ar.medi.ragaa</key>
    <string>meem-ar.medi.ragaa.glif</string>
    <key>meem-ar.medi.reh</key>
    <string>meem-ar.medi.reh.glif</string>
    <key>meem-ar.medi.sad</key>
    <string>meem-ar.medi.sad.glif</string>
    <key>meem-ar.medi.yeh</key>
    <string>meem-ar.medi.yeh.glif</string>
    <key>nine-ar</key>
    <string>nine-ar.glif</string>
    <key>nine-ar.dnom</key>
    <string>nine-ar.dnom.glif</string>
    <key>nine-ar.numr</key>
    <string>nine-ar.numr.glif</string>
    <key>noon-ar</key>
    <string>noon-ar.glif</string>
    <key>noon-ar.fina</key>
    <string>noon-ar.fina.glif</string>
    <key>noon-ar.fina.tail</key>
    <string>noon-ar.fina.tail.glif</string>
    <key>noon-ar.tail</key>
    <string>noon-ar.tail.glif</string>
    <key>noonThreedotsabove-ar</key>
    <string>noonT_hreedotsabove-ar.glif</string>
    <key>noonghunna-ar</key>
    <string>noonghunna-ar.glif</string>
    <key>noonghunna-ar.fina</key>
    <string>noonghunna-ar.fina.glif</string>
    <key>noonghunna-ar.jalt</key>
    <string>noonghunna-ar.jalt.glif</string>
    <key>noonghunnaabove-ar</key>
    <string>noonghunnaabove-ar.glif</string>
    <key>oe-ar</key>
    <string>oe-ar.glif</string>
    <key>one-ar</key>
    <string>one-ar.glif</string>
    <key>one-ar.dnom</key>
    <string>one-ar.dnom.glif</string>
    <key>one-ar.numr</key>
    <string>one-ar.numr.glif</string>
    <key>opendammatan-ar</key>
    <string>opendammatan-ar.glif</string>
    <key>parenleft-ar</key>
    <string>parenleft-ar.glif</string>
    <key>parenright-ar</key>
    <string>parenright-ar.glif</string>
    <key>peh-ar</key>
    <string>peh-ar.glif</string>
    <key>percent-ar</key>
    <string>percent-ar.glif</string>
    <key>qaf-ar</key>
    <string>qaf-ar.glif</string>
    <key>qaf-ar.fina</key>
    <string>qaf-ar.fina.glif</string>
    <key>qafDotless-ar</key>
    <string>qafD_otless-ar.glif</string>
    <key>qafDotless-ar.fina</key>
    <string>qafD_otless-ar.fina.glif</string>
    <key>qafDotless-ar.fina.jalt</key>
    <string>qafD_otless-ar.fina.jalt.glif</string>
    <key>qafDotless-ar.jalt</key>
    <string>qafD_otless-ar.jalt.glif</string>
    <key>question-ar</key>
    <string>question-ar.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>reh-ar</key>
    <string>reh-ar.glif</string>
    <key>reh-ar.fina</key>
    <string>reh-ar.fina.glif</string>
    <key>rehVbelow-ar</key>
    <string>rehV_below-ar.glif</string>
    <key>rnoon-ar</key>
    <string>rnoon-ar.glif</string>
    <key>rreh-ar</key>
    <string>rreh-ar.glif</string>
    <key>sad-ar</key>
    <string>sad-ar.glif</string>
    <key>sad-ar.fina</key>
    <string>sad-ar.fina.glif</string>
    <key>sad-ar.fina.jalt</key>
    <string>sad-ar.fina.jalt.glif</string>
    <key>sad-ar.init</key>
    <string>sad-ar.init.glif</string>
    <key>sad-ar.init.ain</key>
    <string>sad-ar.init.ain.glif</string>
    <key>sad-ar.init.dal</key>
    <string>sad-ar.init.dal.glif</string>
    <key>sad-ar.init.feh</key>
    <string>sad-ar.init.feh.glif</string>
    <key>sad-ar.init.hah</key>
    <string>sad-ar.init.hah.glif</string>
    <key>sad-ar.init.heh</key>
    <string>sad-ar.init.heh.glif</string>
    <key>sad-ar.init.meem</key>
    <string>sad-ar.init.meem.glif</string>
    <key>sad-ar.init.qantara</key>
    <string>sad-ar.init.qantara.glif</string>
    <key>sad-ar.init.ragaa</key>
    <string>sad-ar.init.ragaa.glif</string>
    <key>sad-ar.init.reh</key>
    <string>sad-ar.init.reh.glif</string>
    <key>sad-ar.init.sad</key>
    <string>sad-ar.init.sad.glif</string>
    <key>sad-ar.init.yeh</key>
    <string>sad-ar.init.yeh.glif</string>
    <key>sad-ar.jalt</key>
    <string>sad-ar.jalt.glif</string>
    <key>sad-ar.medi</key>
    <string>sad-ar.medi.glif</string>
    <key>sad-ar.medi.ain</key>
    <string>sad-ar.medi.ain.glif</string>
    <key>sad-ar.medi.dal</key>
    <string>sad-ar.medi.dal.glif</string>
    <key>sad-ar.medi.feh</key>
    <string>sad-ar.medi.feh.glif</string>
    <key>sad-ar.medi.hah</key>
    <string>sad-ar.medi.hah.glif</string>
    <key>sad-ar.medi.heh</key>
    <string>sad-ar.medi.heh.glif</string>
    <key>sad-ar.medi.meem</key>
    <string>sad-ar.medi.meem.glif</string>
    <key>sad-ar.medi.postsad</key>
    <string>sad-ar.medi.postsad.glif</string>
    <key>sad-ar.medi.qantara</key>
    <string>sad-ar.medi.qantara.glif</string>
    <key>sad-ar.medi.ragaa</key>
    <string>sad-ar.medi.ragaa.glif</string>
    <key>sad-ar.medi.reh</key>
    <string>sad-ar.medi.reh.glif</string>
    <key>sad-ar.medi.sad</key>
    <string>sad-ar.medi.sad.glif</string>
    <key>sad-ar.medi.yeh</key>
    <string>sad-ar.medi.yeh.glif</string>
    <key>seen-ar</key>
    <string>seen-ar.glif</string>
    <key>seen-ar.fina</key>
    <string>seen-ar.fina.glif</string>
    <key>seen-ar.fina.jalt</key>
    <string>seen-ar.fina.jalt.glif</string>
    <key>seen-ar.init</key>
    <string>seen-ar.init.glif</string>
    <key>seen-ar.init.ain</key>
    <string>seen-ar.init.ain.glif</string>
    <key>seen-ar.init.dal</key>
    <string>seen-ar.init.dal.glif</string>
    <key>seen-ar.init.feh</key>
    <string>seen-ar.init.feh.glif</string>
    <key>seen-ar.init.hah</key>
    <string>seen-ar.init.hah.glif</string>
    <key>seen-ar.init.heh</key>
    <string>seen-ar.init.heh.glif</string>
    <key>seen-ar.init.meem</key>
    <string>seen-ar.init.meem.glif</string>
    <key>seen-ar.init.ragaa</key>
    <string>seen-ar.init.ragaa.glif</string>
    <key>seen-ar.init.reh</key>
    <string>seen-ar.init.reh.glif</string>
    <key>seen-ar.init.sad</key>
    <string>seen-ar.init.sad.glif</string>
    <key>seen-ar.init.yeh</key>
    <string>seen-ar.init.yeh.glif</string>
    <key>seen-ar.jalt</key>
    <string>seen-ar.jalt.glif</string>
    <key>seen-ar.medi</key>
    <string>seen-ar.medi.glif</string>
    <key>seen-ar.medi.ain</key>
    <string>seen-ar.medi.ain.glif</string>
    <key>seen-ar.medi.dal</key>
    <string>seen-ar.medi.dal.glif</string>
    <key>seen-ar.medi.feh</key>
    <string>seen-ar.medi.feh.glif</string>
    <key>seen-ar.medi.hah</key>
    <string>seen-ar.medi.hah.glif</string>
    <key>seen-ar.medi.heh</key>
    <string>seen-ar.medi.heh.glif</string>
    <key>seen-ar.medi.meem</key>
    <string>seen-ar.medi.meem.glif</string>
    <key>seen-ar.medi.ragaa</key>
    <string>seen-ar.medi.ragaa.glif</string>
    <key>seen-ar.medi.reh</key>
    <string>seen-ar.medi.reh.glif</string>
    <key>seen-ar.medi.sad</key>
    <string>seen-ar.medi.sad.glif</string>
    <key>seen-ar.medi.yeh</key>
    <string>seen-ar.medi.yeh.glif</string>
    <key>semicolon-ar</key>
    <string>semicolon-ar.glif</string>
    <key>semicolon-ar.alt</key>
    <string>semicolon-ar.alt.glif</string>
    <key>seven-ar</key>
    <string>seven-ar.glif</string>
    <key>seven-ar.dnom</key>
    <string>seven-ar.dnom.glif</string>
    <key>seven-ar.numr</key>
    <string>seven-ar.numr.glif</string>
    <key>seven-persian</key>
    <string>seven-persian.glif</string>
    <key>seven-persian.urd</key>
    <string>seven-persian.urd.glif</string>
    <key>seven-persian.urd.dnom</key>
    <string>seven-persian.urd.dnom.glif</string>
    <key>seven-persian.urd.numr</key>
    <string>seven-persian.urd.numr.glif</string>
    <key>shadda-ar</key>
    <string>shadda-ar.glif</string>
    <key>sheen-ar</key>
    <string>sheen-ar.glif</string>
    <key>six-ar</key>
    <string>six-ar.glif</string>
    <key>six-ar.dnom</key>
    <string>six-ar.dnom.glif</string>
    <key>six-ar.numr</key>
    <string>six-ar.numr.glif</string>
    <key>six-persian</key>
    <string>six-persian.glif</string>
    <key>six-persian.dnom</key>
    <string>six-persian.dnom.glif</string>
    <key>six-persian.numr</key>
    <string>six-persian.numr.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sukun-ar</key>
    <string>sukun-ar.glif</string>
    <key>sukun-ar.alt</key>
    <string>sukun-ar.alt.glif</string>
    <key>tah-ar</key>
    <string>tah-ar.glif</string>
    <key>tah-ar.fina</key>
    <string>tah-ar.fina.glif</string>
    <key>tah-ar.init</key>
    <string>tah-ar.init.glif</string>
    <key>tah-ar.init.ain</key>
    <string>tah-ar.init.ain.glif</string>
    <key>tah-ar.init.dal</key>
    <string>tah-ar.init.dal.glif</string>
    <key>tah-ar.init.feh</key>
    <string>tah-ar.init.feh.glif</string>
    <key>tah-ar.init.hah</key>
    <string>tah-ar.init.hah.glif</string>
    <key>tah-ar.init.heh</key>
    <string>tah-ar.init.heh.glif</string>
    <key>tah-ar.init.kaf</key>
    <string>tah-ar.init.kaf.glif</string>
    <key>tah-ar.init.meem</key>
    <string>tah-ar.init.meem.glif</string>
    <key>tah-ar.init.qantara</key>
    <string>tah-ar.init.qantara.glif</string>
    <key>tah-ar.init.ragaa</key>
    <string>tah-ar.init.ragaa.glif</string>
    <key>tah-ar.init.reh</key>
    <string>tah-ar.init.reh.glif</string>
    <key>tah-ar.init.sad</key>
    <string>tah-ar.init.sad.glif</string>
    <key>tah-ar.init.yeh</key>
    <string>tah-ar.init.yeh.glif</string>
    <key>tah-ar.medi</key>
    <string>tah-ar.medi.glif</string>
    <key>tah-ar.medi.ain</key>
    <string>tah-ar.medi.ain.glif</string>
    <key>tah-ar.medi.dal</key>
    <string>tah-ar.medi.dal.glif</string>
    <key>tah-ar.medi.feh</key>
    <string>tah-ar.medi.feh.glif</string>
    <key>tah-ar.medi.hah</key>
    <string>tah-ar.medi.hah.glif</string>
    <key>tah-ar.medi.heh</key>
    <string>tah-ar.medi.heh.glif</string>
    <key>tah-ar.medi.kaf</key>
    <string>tah-ar.medi.kaf.glif</string>
    <key>tah-ar.medi.meem</key>
    <string>tah-ar.medi.meem.glif</string>
    <key>tah-ar.medi.postsad</key>
    <string>tah-ar.medi.postsad.glif</string>
    <key>tah-ar.medi.qantara</key>
    <string>tah-ar.medi.qantara.glif</string>
    <key>tah-ar.medi.ragaa</key>
    <string>tah-ar.medi.ragaa.glif</string>
    <key>tah-ar.medi.reh</key>
    <string>tah-ar.medi.reh.glif</string>
    <key>tah-ar.medi.sad</key>
    <string>tah-ar.medi.sad.glif</string>
    <key>tah-ar.medi.yeh</key>
    <string>tah-ar.medi.yeh.glif</string>
    <key>tahabove-ar</key>
    <string>tahabove-ar.glif</string>
    <key>tcheh-ar</key>
    <string>tcheh-ar.glif</string>
    <key>teh-ar</key>
    <string>teh-ar.glif</string>
    <key>tehMarbuta-ar</key>
    <string>tehM_arbuta-ar.glif</string>
    <key>thal-ar</key>
    <string>thal-ar.glif</string>
    <key>theh-ar</key>
    <string>theh-ar.glif</string>
    <key>three-ar</key>
    <string>three-ar.glif</string>
    <key>three-ar.dnom</key>
    <string>three-ar.dnom.glif</string>
    <key>three-ar.numr</key>
    <string>three-ar.numr.glif</string>
    <key>threedotsdownbelow-ar</key>
    <string>threedotsdownbelow-ar.glif</string>
    <key>threedotsupabove-ar</key>
    <string>threedotsupabove-ar.glif</string>
    <key>tteh-ar</key>
    <string>tteh-ar.glif</string>
    <key>two-ar</key>
    <string>two-ar.glif</string>
    <key>two-ar.dnom</key>
    <string>two-ar.dnom.glif</string>
    <key>two-ar.numr</key>
    <string>two-ar.numr.glif</string>
    <key>two-persian</key>
    <string>two-persian.glif</string>
    <key>two-persian.dnom</key>
    <string>two-persian.dnom.glif</string>
    <key>two-persian.numr</key>
    <string>two-persian.numr.glif</string>
    <key>twodotshorizontalabove-ar</key>
    <string>twodotshorizontalabove-ar.glif</string>
    <key>twodotshorizontalbelow-ar</key>
    <string>twodotshorizontalbelow-ar.glif</string>
    <key>vabove-ar</key>
    <string>vabove-ar.glif</string>
    <key>vbelow-ar</key>
    <string>vbelow-ar.glif</string>
    <key>veh-ar</key>
    <string>veh-ar.glif</string>
    <key>wasla-ar</key>
    <string>wasla-ar.glif</string>
    <key>waw-ar</key>
    <string>waw-ar.glif</string>
    <key>waw-ar.fina</key>
    <string>waw-ar.fina.glif</string>
    <key>wawDotabove-ar</key>
    <string>wawD_otabove-ar.glif</string>
    <key>wawHamzaabove-ar</key>
    <string>wawH_amzaabove-ar.glif</string>
    <key>yeh-ar</key>
    <string>yeh-ar.glif</string>
    <key>yeh-farsi</key>
    <string>yeh-farsi.glif</string>
    <key>yehHamzaabove-ar</key>
    <string>yehH_amzaabove-ar.glif</string>
    <key>yehVabove-ar</key>
    <string>yehV_above-ar.glif</string>
    <key>yehbarree-ar</key>
    <string>yehbarree-ar.glif</string>
    <key>yehbarree-ar.fina</key>
    <string>yehbarree-ar.fina.glif</string>
    <key>yehbarreeHamzaabove-ar</key>
    <string>yehbarreeH_amzaabove-ar.glif</string>
    <key>zah-ar</key>
    <string>zah-ar.glif</string>
    <key>zain-ar</key>
    <string>zain-ar.glif</string>
    <key>zero-ar</key>
    <string>zero-ar.glif</string>
    <key>zero-ar.dnom</key>
    <string>zero-ar.dnom.glif</string>
    <key>zero-ar.numr</key>
    <string>zero-ar.numr.glif</string>
  </dict>
</plist>
