<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.kc0_1</key>
	<dict>
		<key>public.kern2.kc0_2</key>
		<integer>35</integer>
		<key>public.kern2.kc0_3</key>
		<integer>5</integer>
		<key>public.kern2.kc0_4</key>
		<integer>50</integer>
		<key>public.kern2.kc0_5</key>
		<integer>5</integer>
	</dict>
	<key>public.kern1.kc0_10</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<integer>10</integer>
		<key>public.kern2.kc0_2</key>
		<integer>30</integer>
		<key>public.kern2.kc0_3</key>
		<integer>40</integer>
		<key>public.kern2.kc0_4</key>
		<integer>35</integer>
		<key>public.kern2.kc0_5</key>
		<integer>40</integer>
		<key>public.kern2.kc0_6</key>
		<integer>40</integer>
		<key>public.kern2.kc0_7</key>
		<integer>35</integer>
	</dict>
	<key>public.kern1.kc0_2</key>
	<dict>
		<key>public.kern2.kc0_2</key>
		<integer>35</integer>
		<key>public.kern2.kc0_4</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.kc0_3</key>
	<dict>
		<key>public.kern2.kc0_3</key>
		<integer>80</integer>
		<key>public.kern2.kc0_5</key>
		<integer>50</integer>
		<key>public.kern2.kc0_6</key>
		<integer>50</integer>
		<key>public.kern2.kc0_7</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.kc0_4</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<integer>-40</integer>
		<key>public.kern2.kc0_2</key>
		<integer>-40</integer>
		<key>public.kern2.kc0_7</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.kc0_5</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<integer>60</integer>
		<key>public.kern2.kc0_3</key>
		<integer>100</integer>
		<key>public.kern2.kc0_4</key>
		<integer>40</integer>
		<key>public.kern2.kc0_5</key>
		<integer>85</integer>
		<key>public.kern2.kc0_6</key>
		<integer>80</integer>
		<key>public.kern2.kc0_7</key>
		<integer>60</integer>
	</dict>
	<key>public.kern1.kc0_6</key>
	<dict>
		<key>public.kern2.kc0_2</key>
		<integer>40</integer>
		<key>public.kern2.kc0_3</key>
		<integer>70</integer>
		<key>public.kern2.kc0_4</key>
		<integer>40</integer>
		<key>public.kern2.kc0_5</key>
		<integer>45</integer>
		<key>public.kern2.kc0_6</key>
		<integer>45</integer>
		<key>public.kern2.kc0_7</key>
		<integer>35</integer>
	</dict>
	<key>public.kern1.kc0_7</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<integer>30</integer>
		<key>public.kern2.kc0_3</key>
		<integer>70</integer>
		<key>public.kern2.kc0_4</key>
		<integer>30</integer>
		<key>public.kern2.kc0_5</key>
		<integer>50</integer>
		<key>public.kern2.kc0_6</key>
		<integer>50</integer>
		<key>public.kern2.kc0_7</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.kc0_8</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<integer>20</integer>
		<key>public.kern2.kc0_2</key>
		<integer>45</integer>
		<key>public.kern2.kc0_3</key>
		<integer>50</integer>
		<key>public.kern2.kc0_4</key>
		<integer>40</integer>
		<key>public.kern2.kc0_5</key>
		<integer>30</integer>
		<key>public.kern2.kc0_6</key>
		<integer>40</integer>
		<key>public.kern2.kc0_7</key>
		<integer>35</integer>
	</dict>
	<key>public.kern1.kc0_9</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<integer>20</integer>
		<key>public.kern2.kc0_2</key>
		<integer>-10</integer>
		<key>public.kern2.kc0_3</key>
		<integer>65</integer>
		<key>public.kern2.kc0_4</key>
		<integer>20</integer>
		<key>public.kern2.kc0_5</key>
		<integer>50</integer>
		<key>public.kern2.kc0_6</key>
		<integer>50</integer>
		<key>public.kern2.kc0_7</key>
		<integer>40</integer>
	</dict>
</dict>
</plist>
