(
"hamza-ar",
"highhamza-ar",
"alef-ar",
"alef-ar.fina",
"alef-ar.fina.lam",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefMadda-ar",
"alefWasla-ar",
"behDotless-ar",
"behDotless-ar.jalt",
"behDotless-ar.fina",
"behDotless-ar.fina.jalt",
"behDotless-ar.medi",
"behDotless-ar.medi.ain",
"behDotless-ar.medi.dal",
"behDotless-ar.medi.feh",
"behDotless-ar.medi.hah",
"behDotless-ar.medi.heh",
"behDotless-ar.medi.high",
"behDotless-ar.medi.high2",
"behDotless-ar.medi.meem",
"behDotless-ar.medi.noon",
"behDotless-ar.medi.ragaa",
"behDotless-ar.medi.reh",
"behDotless-ar.medi.sad",
"behDotless-ar.medi.yeh",
"behDotless-ar.init",
"behDotless-ar.init.ain",
"behDotless-ar.init.ascend",
"behDotless-ar.init.dal",
"behDotless-ar.init.feh",
"behDotless-ar.init.hah",
"behDotless-ar.init.heh",
"behDotless-ar.init.meem",
"behDotless-ar.init.ragaa",
"behDotless-ar.init.reh",
"behDotless-ar.init.sad",
"behDotless-ar.init.yeh",
"beh-ar",
"peh-ar",
"teh-ar",
"theh-ar",
"tteh-ar",
"jeem-ar",
"tcheh-ar",
"hah-ar",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.medi.ain",
"hah-ar.medi.dal",
"hah-ar.medi.feh",
"hah-ar.medi.hah",
"hah-ar.medi.heh",
"hah-ar.medi.heh.ragaa",
"hah-ar.medi.meem",
"hah-ar.medi.ragaa",
"hah-ar.medi.reh",
"hah-ar.medi.sad",
"hah-ar.medi.yeh",
"hah-ar.init",
"hah-ar.init.ain",
"hah-ar.init.dal",
"hah-ar.init.feh",
"hah-ar.init.hah",
"hah-ar.init.heh",
"hah-ar.init.heh.ragaa",
"hah-ar.init.meem",
"hah-ar.init.ragaa",
"hah-ar.init.reh",
"hah-ar.init.sad",
"hah-ar.init.yeh",
"khah-ar",
"dal-ar",
"dal-ar.fina",
"thal-ar",
"ddal-ar",
"dul-ar",
"reh-ar",
"reh-ar.fina",
"zain-ar",
"rreh-ar",
"rehVbelow-ar",
"jeh-ar",
"seen-ar",
"seen-ar.jalt",
"seen-ar.fina",
"seen-ar.fina.jalt",
"seen-ar.medi",
"seen-ar.medi.ain",
"seen-ar.medi.dal",
"seen-ar.medi.feh",
"seen-ar.medi.hah",
"seen-ar.medi.heh",
"seen-ar.medi.meem",
"seen-ar.medi.ragaa",
"seen-ar.medi.reh",
"seen-ar.medi.sad",
"seen-ar.medi.yeh",
"seen-ar.init",
"seen-ar.init.ain",
"seen-ar.init.dal",
"seen-ar.init.feh",
"seen-ar.init.hah",
"seen-ar.init.heh",
"seen-ar.init.meem",
"seen-ar.init.ragaa",
"seen-ar.init.reh",
"seen-ar.init.sad",
"seen-ar.init.yeh",
"sheen-ar",
"sad-ar",
"sad-ar.jalt",
"sad-ar.fina",
"sad-ar.fina.jalt",
"sad-ar.medi",
"sad-ar.medi.ain",
"sad-ar.medi.dal",
"sad-ar.medi.feh",
"sad-ar.medi.hah",
"sad-ar.medi.heh",
"sad-ar.medi.meem",
"sad-ar.medi.postsad",
"sad-ar.medi.qantara",
"sad-ar.medi.ragaa",
"sad-ar.medi.reh",
"sad-ar.medi.sad",
"sad-ar.medi.yeh",
"sad-ar.init",
"sad-ar.init.ain",
"sad-ar.init.dal",
"sad-ar.init.feh",
"sad-ar.init.hah",
"sad-ar.init.heh",
"sad-ar.init.meem",
"sad-ar.init.qantara",
"sad-ar.init.ragaa",
"sad-ar.init.reh",
"sad-ar.init.sad",
"sad-ar.init.yeh",
"dad-ar",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.medi.ain",
"tah-ar.medi.dal",
"tah-ar.medi.feh",
"tah-ar.medi.hah",
"tah-ar.medi.heh",
"tah-ar.medi.kaf",
"tah-ar.medi.meem",
"tah-ar.medi.postsad",
"tah-ar.medi.qantara",
"tah-ar.medi.ragaa",
"tah-ar.medi.reh",
"tah-ar.medi.sad",
"tah-ar.medi.yeh",
"tah-ar.init",
"tah-ar.init.ain",
"tah-ar.init.dal",
"tah-ar.init.feh",
"tah-ar.init.hah",
"tah-ar.init.heh",
"tah-ar.init.kaf",
"tah-ar.init.meem",
"tah-ar.init.qantara",
"tah-ar.init.ragaa",
"tah-ar.init.reh",
"tah-ar.init.sad",
"tah-ar.init.yeh",
"zah-ar",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.medi.ain",
"ain-ar.medi.dal",
"ain-ar.medi.feh",
"ain-ar.medi.hah",
"ain-ar.medi.heh",
"ain-ar.medi.meem",
"ain-ar.medi.ragaa",
"ain-ar.medi.reh",
"ain-ar.medi.sad",
"ain-ar.medi.yeh",
"ain-ar.init",
"ain-ar.init.ain",
"ain-ar.init.dal",
"ain-ar.init.feh",
"ain-ar.init.hah",
"ain-ar.init.heh",
"ain-ar.init.meem",
"ain-ar.init.ragaa",
"ain-ar.init.reh",
"ain-ar.init.sad",
"ain-ar.init.yeh",
"ainThreedots-ar",
"ghain-ar",
"feh-ar",
"veh-ar",
"fehDotless-ar",
"fehDotless-ar.jalt",
"fehDotless-ar.fina",
"fehDotless-ar.fina.jalt",
"fehDotless-ar.medi",
"fehDotless-ar.medi.ain",
"fehDotless-ar.medi.dal",
"fehDotless-ar.medi.feh",
"fehDotless-ar.medi.hah",
"fehDotless-ar.medi.heh",
"fehDotless-ar.medi.meem",
"fehDotless-ar.medi.ragaa",
"fehDotless-ar.medi.reh",
"fehDotless-ar.medi.sad",
"fehDotless-ar.medi.yeh",
"fehDotless-ar.init",
"fehDotless-ar.init.ain",
"fehDotless-ar.init.dal",
"fehDotless-ar.init.feh",
"fehDotless-ar.init.hah",
"fehDotless-ar.init.heh",
"fehDotless-ar.init.meem",
"fehDotless-ar.init.ragaa",
"fehDotless-ar.init.reh",
"fehDotless-ar.init.sad",
"fehDotless-ar.init.yeh",
"qafDotless-ar",
"qafDotless-ar.jalt",
"qafDotless-ar.fina",
"qafDotless-ar.fina.jalt",
"qaf-ar",
"qaf-ar.fina",
"kaf-ar",
"kaf-ar.jalt",
"kaf-ar.fina",
"kaf-ar.fina.jalt",
"kaf-ar.medi",
"kaf-ar.medi.ain",
"kaf-ar.medi.dal",
"kaf-ar.medi.feh",
"kaf-ar.medi.hah",
"kaf-ar.medi.heh",
"kaf-ar.medi.kaf",
"kaf-ar.medi.meem",
"kaf-ar.medi.ragaa",
"kaf-ar.medi.reh",
"kaf-ar.medi.sad",
"kaf-ar.medi.yeh",
"kaf-ar.init",
"kaf-ar.init.ain",
"kaf-ar.init.alef",
"kaf-ar.init.alef.loop",
"kaf-ar.init.dal",
"kaf-ar.init.feh",
"kaf-ar.init.hah",
"kaf-ar.init.heh",
"kaf-ar.init.meem",
"kaf-ar.init.ragaa",
"kaf-ar.init.reh",
"kaf-ar.init.sad",
"kaf-ar.init.yeh",
"keheh-ar",
"keheh-ar.jalt",
"keheh-ar.fina",
"keheh-ar.fina.jalt",
"kehehDotabove-ar",
"gaf-ar",
"kafDotabove-ar",
"ng-ar",
"lam-ar",
"lam-ar.jalt",
"lam-ar.fina",
"lam-ar.fina.jalt",
"lam-ar.medi",
"lam-ar.medi.ain",
"lam-ar.medi.alef",
"lam-ar.medi.dal",
"lam-ar.medi.feh",
"lam-ar.medi.hah",
"lam-ar.medi.heh",
"lam-ar.medi.kaf",
"lam-ar.medi.meem",
"lam-ar.medi.ragaa",
"lam-ar.medi.reh",
"lam-ar.medi.sad",
"lam-ar.medi.yeh",
"lam-ar.init",
"lam-ar.init.ain",
"lam-ar.init.alef",
"lam-ar.init.dal",
"lam-ar.init.feh",
"lam-ar.init.hah",
"lam-ar.init.heh",
"lam-ar.init.kaf",
"lam-ar.init.meem",
"lam-ar.init.ragaa",
"lam-ar.init.reh",
"lam-ar.init.sad",
"lam-ar.init.yeh",
"lamVabove-ar",
"meem-ar",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.medi.ain",
"meem-ar.medi.altC",
"meem-ar.medi.dal",
"meem-ar.medi.feh",
"meem-ar.medi.hah",
"meem-ar.medi.heh",
"meem-ar.medi.meem",
"meem-ar.medi.ragaa",
"meem-ar.medi.reh",
"meem-ar.medi.sad",
"meem-ar.medi.yeh",
"meem-ar.init",
"meem-ar.init.ain",
"meem-ar.init.altC",
"meem-ar.init.dal",
"meem-ar.init.feh",
"meem-ar.init.hah",
"meem-ar.init.heh",
"meem-ar.init.meem",
"meem-ar.init.ragaa",
"meem-ar.init.reh",
"meem-ar.init.sad",
"meem-ar.init.yeh",
"noon-ar",
"noon-ar.tail",
"noon-ar.fina",
"noon-ar.fina.tail",
"noonghunna-ar",
"noonghunna-ar.jalt",
"noonghunna-ar.fina",
"rnoon-ar",
"noonThreedotsabove-ar",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.medi.ain",
"heh-ar.medi.dal",
"heh-ar.medi.feh",
"heh-ar.medi.hah",
"heh-ar.medi.heh",
"heh-ar.medi.meem",
"heh-ar.medi.ragaa",
"heh-ar.medi.reh",
"heh-ar.medi.sad",
"heh-ar.medi.yeh",
"heh-ar.init",
"heh-ar.init.ain",
"heh-ar.init.dal",
"heh-ar.init.feh",
"heh-ar.init.hah",
"heh-ar.init.heh",
"heh-ar.init.meem",
"heh-ar.init.ragaa",
"heh-ar.init.reh",
"heh-ar.init.sad",
"heh-ar.init.yeh",
"hehHamzaabove-ar",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.init",
"hehgoal-ar.init.ain",
"hehgoal-ar.init.dal",
"hehgoal-ar.init.feh",
"hehgoal-ar.init.hah",
"hehgoal-ar.init.heh",
"hehgoal-ar.init.meem",
"hehgoal-ar.init.ragaa",
"hehgoal-ar.init.reh",
"hehgoal-ar.init.sad",
"hehgoal-ar.init.yeh",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.medi.ain",
"hehDoachashmee-ar.medi.dal",
"hehDoachashmee-ar.medi.feh",
"hehDoachashmee-ar.medi.hah",
"hehDoachashmee-ar.medi.heh",
"hehDoachashmee-ar.medi.meem",
"hehDoachashmee-ar.medi.ragaa",
"hehDoachashmee-ar.medi.reh",
"hehDoachashmee-ar.medi.sad",
"hehDoachashmee-ar.medi.yeh",
"tehMarbuta-ar",
"waw-ar",
"waw-ar.fina",
"wawDotabove-ar",
"wawHamzaabove-ar",
"oe-ar",
"alefMaksura-ar",
"alefMaksura-ar.jalt",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.jalt",
"alefMaksura-ar.fina.yeh",
"alefMaksura-ar.fina.yeh.jalt",
"yeh-ar",
"yehHamzaabove-ar",
"yehVabove-ar",
"yeh-farsi",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarreeHamzaabove-ar",
"ae-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"two-persian",
"four-persian",
"five-persian",
"six-persian",
"seven-persian",
"zero-ar.dnom",
"one-ar.dnom",
"two-ar.dnom",
"three-ar.dnom",
"four-ar.dnom",
"five-ar.dnom",
"six-ar.dnom",
"seven-ar.dnom",
"eight-ar.dnom",
"nine-ar.dnom",
"two-persian.dnom",
"four-persian.dnom",
"five-persian.dnom",
"six-persian.dnom",
"zero-ar.numr",
"one-ar.numr",
"two-ar.numr",
"three-ar.numr",
"four-ar.numr",
"five-ar.numr",
"six-ar.numr",
"seven-ar.numr",
"eight-ar.numr",
"nine-ar.numr",
"two-persian.numr",
"four-persian.numr",
"five-persian.numr",
"six-persian.numr",
"four-persian.urd",
"seven-persian.urd",
"four-persian.urd.dnom",
"seven-persian.urd.dnom",
"four-persian.urd.numr",
"seven-persian.urd.numr",
space,
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
"parenleft-ar",
"parenright-ar",
period,
colon,
ellipsis,
exclam,
"comma-ar.alt",
"semicolon-ar.alt",
endash,
emdash,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
"percent-ar",
"kashida-ar",
"tahabove-ar",
"dotabove-ar",
"dotbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"threedotsdownbelow-ar",
"threedotsupabove-ar",
"wasla-ar",
"gafsarkashabove-ar",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"sukun-ar",
"sukun-ar.alt",
"madda-ar",
"noonghunnaabove-ar",
"dammainverted-ar",
"dammainverted-ar.urd",
"vabove-ar",
"vbelow-ar",
"opendammatan-ar",
"alefabove-ar.isol",
"alefabove-ar.medi",
_hehgoal.comma,
_tah.alef
)