<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>Gamma</string>
      <string>Delta</string>
      <string>Theta</string>
      <string>Lambda</string>
      <string>Xi</string>
      <string>Pi</string>
      <string>Sigma</string>
      <string>Upsilon</string>
      <string>Phi</string>
      <string>Psi</string>
      <string>Omega</string>
      <string>alpha</string>
      <string>beta</string>
      <string>gamma</string>
      <string>delta</string>
      <string>epsilon1</string>
      <string>zeta</string>
      <string>eta</string>
      <string>theta</string>
      <string>iota</string>
      <string>kappa</string>
      <string>lambda</string>
      <string>mu</string>
      <string>nu</string>
      <string>xi</string>
      <string>pi</string>
      <string>rho</string>
      <string>sigma</string>
      <string>tau</string>
      <string>upsilon</string>
      <string>phi</string>
      <string>chi</string>
      <string>psi</string>
      <string>omega</string>
      <string>epsilon</string>
      <string>theta1</string>
      <string>pi1</string>
      <string>phi1</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>period</string>
      <string>comma</string>
      <string>less</string>
      <string>slash</string>
      <string>greater</string>
      <string>partialdiff</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>lscript</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>dotlessi</string>
      <string>dotlessj</string>
      <string>weierstrass</string>
      <string>space</string>
      <string>f.alt</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>exclam</string>
      <string>ampersand</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>minus</string>
      <string>equal</string>
      <string>question</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>asciitilde</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bar</string>
      <string>backslash</string>
      <string>logicalnot</string>
      <string>section</string>
      <string>hyphen</string>
      <string>dollar</string>
      <string>percent</string>
      <string>numbersign</string>
      <string>underscore</string>
      <string>grave</string>
      <string>at</string>
      <string>sterling</string>
      <string>yen</string>
      <string>cent</string>
      <string>brokenbar</string>
      <string>exclamdown</string>
      <string>questiondown</string>
      <string>acute</string>
      <string>periodcentered</string>
      <string>plusminus</string>
      <string>guillemotright</string>
      <string>guillemotleft</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni00B9</string>
      <string>copyright</string>
      <string>registered</string>
      <string>dieresis</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>uni0302</string>
      <string>tildecomb</string>
      <string>uni0304</string>
      <string>uni0308</string>
      <string>uni030A</string>
      <string>uni0327</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>macron</string>
      <string>uni00AD</string>
      <string>degree</string>
      <string>cedilla</string>
      <string>divide</string>
      <string>multiply</string>
      <string>fraction</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>germandbls</string>
      <string>Oslash</string>
      <string>oslash</string>
      <string>Eth</string>
      <string>currency</string>
      <string>paragraph</string>
      <string>AE</string>
      <string>ae</string>
      <string>eth</string>
      <string>OE</string>
      <string>oe</string>
      <string>Thorn</string>
      <string>thorn</string>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
    </array>
  </dict>
</plist>
